<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mboutiquevb">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--    <meta-data-->
    <!--        android:name="firebase_messaging_auto_init_enabled"-->
    <!--        android:value="true" />-->
<!--    <meta-data-->
<!--        android:name="firebase_analytics_collection_enabled"-->
<!--        android:value="true" />-->


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_new"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".activity.HomeActivity"></activity>
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".activity.SpashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <service android:name=".FirebaseMessagingService1">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
<!--        </service>-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="@string/default_notification_channel_id" />-->

    </application>

<!--    <meta-data android:name="com.google.firebase.messaging.default_notification_icon"-->

<!--        android:resource="@drawable/app_icon" />-->

</manifest>